.member-card {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 20px; /* 회원 정보 사이의 간
격 설정 */
}

.member-box {
  margin-left: 10%;
  margin-top: 20px;
}

.member-card img {
  width: 50px; /* 프로필 이미지 너비 설정 */
  height: 50px; /* 프로필 이미지 높이 설정 */
  margin-right: 10px; /* 이미지와 회원 정보 사이 간격 설정 */
}

.member-details {
  display: flex;
  flex-direction: column; /* 회원 정보를 세로로 배치 */
}

.member-job {
  font-weight: bold; /* 직책 글씨체를 두껍게 설정 */
}

.member-name {
  margin-top: 5px; /* 이름과 직책 사이 간격 설정 */
}
