.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.club-profile-list {
  display: flex;
  justify-content: flex-start;
  /* 왼쪽 정렬 */
  align-items: flex-start;

  gap: 10px;
  /* 요소들 간의 간격 */
}
.profile-card {
  flex: 1 1 150px;
  /* 모든 카드가 동일한 비율로 확장 및 축소되도록 함 */
  max-width: 130px;
  /* 카드의 최대 너비 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 그림자 효과 */
  transition: transform 0.2s;
  /* 호버 시 카드가 약간 확대되는 애니메이션 */
}

.profile-card:hover {
  transform: scale(1.05);

  object-fit: cover; /* 이미지가 카드에 꽉 차게 보이도록 함 */
}
*/ .profile-card-img {
  max-height: 200px;
  /* 이미지의 최대 높이 설정 */
  object-fit: cover;
  /* 이미지가 카드에 꽉 차게 보이도록 함 */
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.section-header h3 {
  flex-grow: 1;
}

.section-header button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.club-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.club-logo-container {
  margin: 20px auto;
  /* 상하 마진은 그대로 유지하고 좌우 마진을 auto로 설정 */
}

.posts-table {
  width: 100%;
  margin: 20px auto;
  /* 상하 마진을 20px로 설정하고 좌우 마진을 auto로 설정 */
  border-collapse: collapse;
}

.club-albums-container {
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  /* 상하 마진을 20px로 설정하고 좌우 마진을 auto로 설정 */
}

.club-events-container {
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  /* 상하 마진을 20px로 설정하고 좌우 마진을 auto로 설정 */
}

.club-posts-container {
  width: 80%;
  padding: 10px;
  margin: 20px auto;
}

.club-members-container {
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  /* 상하 마진을 20px로 설정하고 좌우 마진을 auto로 설정 */
}

.list1 {
  font-weight: bold;
}
.list2 {
  font-weight: bold;
}
.list3 {
  font-weight: bold;
}
.list4 {
  font-weight: bold;
}
