/* General Styles */

.my-page {
  padding: 20px;
}

/* Container Styles */
.edit-info-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.edit-info-col {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
.edit-info-form .form-group {
  margin-bottom: 20px;
}

.edit-info-form .form-label {
  font-weight: bold;
  color: #495057;
}

.edit-info-form .form-control {
  border: 2px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.edit-info-form .form-control:focus {
  border-color: #80bdff;
  box-shadow: none;
}

.edit-info-form .form-control[as="select"] {
  width: 100%;
  padding: 10px;
}

.edit-info-form .study {
  display: block;
  margin-bottom: 10px;
}

/* Button Styles */
.edit-info-button-container {
  text-align: center;
}

.edit-info-button:hover,
.edit-info-button:focus {
  background-color: #0056b3;
  border-color: #0056b3;
}
