.myclub-header {
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  margin-right: auto;
  /* 오른쪽으로 정렬 */
  margin-left: 300px;
  /* 왼쪽 여백 설정 */
  margin-top: 50px;
  /* 위쪽 여백 설정 */
}

.club-logo1 {
  margin-top: 8%;
  width: 100px;
  height: 100px;
}
