.my-category-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  margin: 10px auto;
  max-width: 550px;
  height: 40px;
}

.my-category-item {
  cursor: pointer;
  text-decoration: none;
  color: #495057;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 20px;
  border: none; /* 기본적으로 테두리 없음 */
}

.my-category-item:hover {
  border-radius: 30px;
}

.active-link {
  border: 2px solid #90caf9; /* 활성화된 버튼에 검정 테두리 */
}
