/* ResetPasswordPage.css */

.reset-password-background {
  background-color: #e3f2fd; /* 변경된 배경색 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #dfe9f3, #ffffff);
}

.reset-password-container {
  width: 500px;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset-password-header {
  text-align: center;
  margin-bottom: 30px;
  color: #42a5f5; /* 변경된 색상 */
  font-size: 24px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #42a5f5; /* 변경된 색상 */
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
  margin-bottom: 20px;
  background-color: #e3f2fd; /* 변경된 색상 */
}

.input-field:focus {
  border-color: #64b5f6; /* 변경된 색상 */
  outline: none;
}

.link-container {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.link {
  color: #42a5f5; /* 변경된 색상 */
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: #64b5f6; /* 변경된 색상 */
}

.button-container {
  margin-top: 40px;
  width: 100%;
}

.button {
  width: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  border: none;
  font-weight: bold;
}

.primary-button {
  background-color: #42a5f5; /* 변경된 색상 */
  padding: 15px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.primary-button:hover,
.primary-button:focus {
  background-color: #64b5f6; /* 변경된 색상 */
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.23);
}

.secondary-button {
  background-color: #90caf9; /* 변경된 색상 */
  padding: 7px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: #64b5f6; /* 변경된 색상 */
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.23);
}

.error-message {
  color: red;
  margin-top: 10px;
}
